@inherits LayoutComponentBase

<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">PWT Group</a>
        </div>
    </nav>
</header>

<main class="m-4">
    @Body
</main>